.header {
    font-family: Montserrat;
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: all 0.3s;
    padding: 20px 15px;

      &__scroll {
      background: rgb(31, 31, 31);
      padding: 5px 14px;
      box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.179);
      }

    &__content {
        position: relative;
        z-index: 10;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.content-header {
    &__logo {
       height: 100%;
       z-index: 10;
       max-width: 105px;
       pointer-events: none;
       position: relative;
    }
    
    @media (max-width: 1024px) {
        &__logo {
            max-width: 80px;
         }
    }
 
    &__menu-icon {
       display: none;
    }
 
    &__list {
       max-width: max-content;
       display: flex;
       gap: 70px;
    }
 
    &__link {
       font-size: calc(14px + 2 * (100vw / 1187));
       font-weight: 500;
       line-height: 140%;
       letter-spacing: 0em;
       text-align: left;
       color: #ffffff;
       border-bottom: 2px solid #ffffff00;
       transition: all 0.1s;
       position: relative;
       padding: 5px 0;
    }
 
    @media (min-width: 1025px) {
       &__link::before {
         content: "";
         position: absolute;
         width: 0;
         background : #fff;
         left: 45%;
         height: 2px;
         bottom: 0;
         transition: all .3s;
         opacity: 0.7;
       }

       &__link:hover::before{
         width: 100%;
         left:0;
       }
    }
 
    &__form {
       max-width: max-content;
    }
 
    @media (min-width: 513px) {
       &__button-link {
          display: none;
       }
    }
 
    @media (max-width: 639px) {
       &__logo {
          width: 200px;
       }
    }
 
    @media (max-width: 513px) {
       &__button {
          display: none;
       }
    }
 }

.list-header {

    &__link-item {
        font-style: normal;
        font-weight: 400;
        font-size: calc(13px + 2 * (100vw / 1440));
        line-height: 23px;
    }
}


// !menu burger

@media (max-width: 1024px) {
    .header {
       position: fixed;
       width: 100%;
    }
 
    .content-header {
       display: flex;
       justify-content: space-between;
 
       &__column {
          display: flex;
          align-items: center;
       }
 
       &__list {
          flex-direction: column;
          gap: 25px;
          position: fixed;
          overflow: auto;
          top: 0;
          right: -100%;
          width: 100%;
          height: 100%;
          background-color: rgb(31, 31, 31);
         //  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.142);
          padding: 100px 30px 30px 30px;
          transition: right 0.3s ease 0s;
          z-index: 3;
       }
 
       &__list._active {
          right: 0;
       }
 
       &__link {
          color: white;
          font-size: calc(17px + 10 * (100vw / 1180));
       }
 
       &__menu-icon {
          z-index: 5;
          display: block;
          position: relative;
          width: 30px;
          height: 18px;
          cursor: pointer;
          margin-left: 10px;
       }
 
       &__menu-icon span,
       &__menu-icon::before,
       &__menu-icon::after {
          left: 0;
          position: absolute;
          height: 10%;
          width: 100%;
          transition: all 0.3s ease 0s;
          background-color: rgb(255, 255, 255);
       }
 
       &__menu-icon::before,
       &__menu-icon::after {
          content: "";
       }
 
       &__menu-icon::before {
          top: 0;
       }
 
       &__menu-icon::after {
          bottom: 0;
       }
 
       &__menu-icon span {
          top: 50%;
          transform: translateY(-50%) scale(1);
       }
 
       &__menu-icon._active span {
          transform: translateY(-50%) scale(0);
          background-color: white;
       }
 
       &__menu-icon._active::before {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
          background-color: white;
       }
 
       &__menu-icon._active::after {
          bottom: 50%;
          transform: translateY(50%) rotate(45deg);
          background-color: white;
       }
    }
 }

